*{
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    nav{
        #toggle{
            display: none;
            //opacity: 0;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 1.5rem;
            }
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
      @media (max-width: 1015px) {
        #toggle {
            opacity: 0;
          }
          #toggle:checked + .botonBurguer > span {
            transform: rotate(45deg);
          }
          #toggle:checked + .botonBurguer > span::before {
            top: 0;
            transform: rotate(0deg);
          }
          #toggle:checked + .botonBurguer > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #toggle:checked ~ .menuLateral {
            right: 0 !important;
          }
          .botonBurguer {
            position: fixed;
            align-items: center;
            top: 20px;
            right: 20px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
          }
          .botonBurguer > span,
          .botonBurguer > span::before,
          .botonBurguer > span::after {
            display: block;
            align-items: stretch;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: white;
            transition-duration: .25s;
          }
          .botonBurguer > span::before {
            content: '';
            top: -8px;
          }
          .botonBurguer > span::after {
            content: '';
            top: 8px;
          }
        .menuLateral {
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color: #e43333;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            transition-duration: .25s;
          }
          .item {
            display: block;
            padding: 12px 24px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
          }
          .item:hover {
            background-color: #CFD8DC;
          }
      }
}

.botonFlotante{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    transition: all 200ms ease-in-out;
    &:hover{
        box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
        transform: scale(1.1);
    }
}

.botonSimbolo{
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
    margin-top: 10%;
    width:50px;
	height:50px;
}

.pokeball{
    padding: 10px;
    width: 50px;
    height: 50px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

div{
    .flexbox{
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 100px;
        @media (max-width: 1015px) {
            //margin-left: 20%;
          }
    }

    .space{
        @media (max-width: 1015px) {
            //margin-left: 100px;
          }
    }
    .pokeinfo{
        //margin-left: 100px;
        @media (max-width: 1015px) {
            //margin-right: 0px;
          }
        padding: 15px;
        border: 2px solid red;
        border-radius: 25px;
        margin-top: 100px;
        //width: 10%;
        //height: 450px;
        //min-width: 400px;
        align-items: stretch;
        span{
            align-items: center;
            margin: 2px;
        }
        .sprite{
            border: 2px solid red;
            width: 300;
            height: 300px;
            border-radius: 25px;
        }
        .types{
            display: flex;
        }
        .pokeName{
            display: flex
        }
        .pokeImg{
            display: flex;
            width: 20%;
        }

        .pokeData{
            div{
                width: 100%;
                height: 30%;
            }
        }
    }

    .pokeSearch{
        //margin-right: 100px;        
        @media (max-width: 375px) {
            //margin-left: 100%;
          }
        @media (max-width: 1015px) {
            //margin-left: 100px;
          }
        padding: 10px;
        border: 2px solid blue;
        border-radius: 25px;
        margin-top: 100px;
        //width: 400px;
        //height: 450px;
        min-width: 250px;
        h2{
            @media (min-width: 413px) {
                font-size: 1rem;
              }
            @media (min-width: 1015px) {
                font-size: 1.2rem;
              }
            @media (min-width: 1200px) {
                font-size: 1.5rem;
              }
        }

        input{
            display: block;
            background: none;
            padding: 0.125rem 0.5rem 0.0625rem;
            font-size: 1rem;
            border-width: 1;
            border-color: red;
            line-height: 1.9;
            width: 100%;
            border-radius: 25px;
            color: black;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
            box-shadow: none;
        }

        button{
            margin-top: 10px;
            padding: 10px;
            font-size: 1rem;
            border-radius: 25px;
            position: relative;
            user-select: none;
            color: #fff;
            background: #448AFF;
            border: 0;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
            transition: all 200ms ease-in-out;
            cursor: pointer;
            overflow: hidden;
            &:hover{
                box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
                transform: scale(1.1);
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.tab{
    h1{
        text-align: center;
    }

    .generaciones{
        width: 100%;
        button{
            width: 12.5%;
            border:0;
            outline:none;
            border-radius:0;
            padding:15px 0;
            font-size:2rem;
            text-transform:uppercase;
            letter-spacing:.1em;
            background:#007142fd;
            color:white;
            transition:all .5s ease;
            -webkit-appearance: none;
            &:hover, &:focus {
                background:rgb(0, 160, 209);
            }
        }
    }
}