*{
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: red;
}

.pokeball{
    padding: 10px;
    width: 50px;
    height: 50px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

div{
    .flexbox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .pokeinfo{
        padding: 10px;
        background-color: red;
        border-radius: 25px;
        margin-top: 100px;
        width: 50%;
        height: 500px;
        min-width: 400px;
    }

    .pokeSearch{
        padding: 10px;
        border: 2px solid blue;
        border-radius: 25px;
        margin-top: 100px;
        width: 100%;
        height: 500px;
        min-width: 200px;
    }
}